@mixin content {
  background: #4747471f;
}
@mixin content__block {
  padding: 16px;
  background: #FFFFFF;
  border-radius: 8px;

  max-width: 328px;
}
@mixin content__block_flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
